@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --glass-blur: 2px; /* Adjust the blur value */
    --glass-opacity: 0.8; /* Adjust the glass background opacity */
    --glass-border-opacity: 0; /* Opacity for the border */
    --glass-reflex-degree: 0; /* Angle of the glass reflex */
    --glass-reflex-opacity: 0; /* Opacity of the reflex */
    --glass-text-shadow-opacity: 0; /* Opacity of the text shadow */
  }

.glassmorph {
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 0 10px 0.5px rgb(138, 138, 138);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
}

